<section class="banner">
  <div class="banner-text">
    <p>A BIKE IS STOLLEN EVERY 30 SEC</p>
    <p>ALMOST 2 MILLION BIKES STOLEN EACH YEAR</p>
    <p>48% RECOVERED BY POLICE, ONLY 5% RETURNED</p>
  </div>
  <div class="sign_up">
    <%= link_to "SIGN UP WITH US", new_user_registration_path %>
  </div>
</section>

<section class="middle">

</section>

<footer>
  <h2>join the community</h2>
  <p>We're looking for local law enforcement, universities and commercial buildings, bike shops and cycling clubs that are interested in joining our fight.</p>
  <div class="join_us">
    <%= link_to "JOIN US", new_user_registration_path %>
</div>
</footer>
