/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
   box-sizing: border-box;
 }

body{
  background-color: black;
  color: white;
}

nav {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  width: 100%;
  background-color: #ccc;
}

nav li{
  display: inline-block;
  border: 2px solid;
  padding: 5px;
  float: right;
}

nav ul{
  margin: 0;
}

section {
  background-color: #ccc;
  border: 2px solid red;
  width: 100%;
  text-align: center;
}

.banner{
  background-image: url("http://media.tumblr.com/tumblr_m9fqcwuzl11r1p25e.jpg");
  background-size: cover;
  height: 486px;
  padding-top: 5%;
}

.banner p {
  color: white;
  font-size: 28px;
}

section.middle {
  background-image: url("http://i.imgur.com/eI6OnG8.jpg");
  background-size: cover;
  height: 373px;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
}
footer h2{
  padding-top: 20px;
  margin-top: 0;
}
