/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
   box-sizing: border-box;
 }

body{
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
  padding-bottom: 50px;
}

nav {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  height: 45px;
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  width: 100%;
  background-color: black;
}

nav ul{
  margin: 0;
  padding: 8px 5px;
}

nav li{
  display: inline-block;
  padding: 5px;
  float: left;
  color: white;
  text-transform: uppercase;
  margin-right: 5px;
  font-size: 12px;
}

nav li:hover{
  cursor: pointer;
}

nav li a{
  text-decoration: none;
}

li.devise{
  float: right;
}

nav li a:visited{
  color: white;
}

.sign-in{
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
}
li.sign-in a{
  color: black;
}

li.sign-in a:visited{
  color: black;
}

section {
  background-color: #ccc;
  width: 100%;
  text-align: center;
}

.banner{
  background-image: url("http://media.tumblr.com/tumblr_m9fqcwuzl11r1p25e.jpg");
  background-size: cover;
  height: 486px;
  padding-top: 7%;
  border-bottom: 15px solid #B80000;
}

.banner p {
  color: white;
  font-size: 28px;
}

.banner-text{
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 10px 0;
}

.sign_up a{
  background-color: #F0F0F0;
  border: 2px solid white;
  border-radius: 10px;
  color: black;
  font-size: 30px;
  padding: 8px;
  text-decoration: none;
}

section.middle {
  background-image: url("http://i.imgur.com/eI6OnG8.jpg");
  background-size: cover;
  height: 373px;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
}
footer h2{
  padding-top: 20px;
  margin-top: 0;
}
footer .join_us a{
  background-color: #F0F0F0;
  padding: 8px;
  border-radius: 5px;
}

footer p{
  margin: 30px;
}
